@model int

@{
    var x = Model;
}

<h1>Multiplication table from 1 to @x</h1>

<div class="container text-center">
    <div class="row row-cols-3 gy-4">
        @for (byte i = 1; i <= x; i++)
        {
            <div class="col">
                @for (byte j = 1; j <= 10; j++)
                {
                    <h4>@i * @j = @(i * j)</h4>
                }
            </div>
        }
    </div>
</div>
